{% load static %}

<link href="{% static 'olx_market/css/custom.css' %}" rel="stylesheet">
<link href="{% static 'olx_market/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'olx_market/css/color.css' %}" rel="stylesheet">
<link href="{% static 'olx_market/css/responsive.css' %}" rel="stylesheet">
<link href="{% static 'olx_market/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'olx_market/css/prettyPhoto.css' %}" rel="stylesheet">
<link href="{% static 'olx_market/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'olx_market/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link rel="icon" type="image/png" href="{% static 'olx_market/images/fav3.png' %}" />