<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <label for="id_password">Password:</label>
            <input type="password" id="id_password" name="password">
            <button type="button" id="generatePassword">Generate Password</button>
        </div>
        <button type="submit">Register</button>
    </form>

    <script>
        document.getElementById('generatePassword').addEventListener('click', function() {
            var passwordField = document.getElementById('id_password');
            var generatedPassword = generateRandomPassword(6); // Change the length as needed

            passwordField.value = generatedPassword;
        });

        function generateRandomPassword(length) {
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*()';
            var password = '';
            for (var i = 0; i < length; i++) {
                password += characters.charAt(Math.floor(Math.random() * characters.length));
            }
            return password;
        }
    </script>
</body>
</html>