  {% load static %}
  {% block horizontal-nav %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'dashboard:dashboard' %}">
        <img src="{% static 'images/shop_icon.png' %}" alt="shop-icon" width="32" class="mb-2">
        ShoppingCart
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% comment %} User {% endcomment %}
          <li class="nav-item dropdown dropstart">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fas fa-user"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a></li>
              {% else %}
              <li><a class="dropdown-item" href="#">Login</a></li>
              {% endif %}
              
            </ul>
          </li>
        </li>


        </ul>

      </div>
    </div>
  </nav>
{% endblock horizontal-nav %}