{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block maincontent %}
<!--inner banner-->
{% if messages %}
<div class="alert alert-success text-center" id="alert-msg">
  {% for message in messages %}
  <h3>{{ message }}</h3>
  {% endfor %}
</div>
{% endif %}

<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Password Change</h1>
      </div>
      <div class="col-md-5">
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">Appointment</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--inner banner End-->

<!--Main Content Start-->
<div class="main-content padding-0">
  <section class="registration-form">
    <div class="container">
      <div class="row">
        <div class="col-md-6"><img src="{% static 'olx_market/images/reg.jpg' %}" alt=""></div>
        <div class="col-md-6">
          <form method="post">
            {% csrf_token %}
            <div class="reg-form">
              {% bootstrap_form form %}
              
              <div class="d-flex justify-content-between">
                <input type="submit" class="btn btn-primary" value="Sign Up">
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<br><br>

{% endblock maincontent %}